<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container index">

      {{#entries}}
  <span class="light margin left">{{date}}</span>   
         {{^metadata.micro}}
               <p>
                   <a class="entryblocktitle" href="{{url}}">{{title}}</a>
               </p>
           {{/metadata.micro}}
  
        {{#metadata.micro}}
                    <a class="light" style="float:right;" href="{{url}}" title="Permalink to this post">#</a> <p class="entryblock">{{{html}}}</p>
           {{/metadata.micro}}
      {{/entries}}

      <br /><Br />

      {{#pagination}}
      <p>

        {{#previous}}
        <span class="margin left">
          <a href="/page/{{previous}}">← Newer posts</a>
        </span>
        {{/previous}}

        <span class="light" style="margin-right:30px">page {{current}} of {{total}}</span>

        {{#next}}
        <a href="/page/{{next}}">Older posts →</a>
        {{/next}}

      </p>
      {{/pagination}}
    </div>
    {{> footer}}
  </body>
</html>
