<section style="display: none;" class="h-card vcard">
        <ul>
            <li class="p-name fn">
                <span class="p-given-name given-name">Jack</span> <span class="p-family-name family-name">Baty</span>
            </li>
            <li class="p-nickname nickname">
                jackbaty
            </li>       
            <li class="p-job-title title">
                Partner at Fusionary Media
            </li>
            <li class="p-role role">
                CTO
            </li>
            <li>
                <ul class="p-org h-card org">
                    <li>
                        <a class="p-name u-url p-organization-name organization-name" href="https://www.baty.blog/">baty.blog</a>
                    </li>
                     <li>
                        <img src="https://static.baty.net/images/avatars/logo.png" alt="baty.net" class="u-logo logo" />
                     </li>
                </ul>
            </li>
            <li>
                <a class="u-email email" href="mailto:jack@baty.net">jack@baty.net<>/a>
            </li>
            <li>
                <a class="u-url url" href="https://www.baty.blog/">www.baty.blog</a>
            </li>
            <li>
                <img src="https://static.baty.net/images/avatars/avatar.jpg" alt="Jack Baty" title="Jack Baty" class="u-photo photo" />
            </li>
        </ul>
    </section>


<script src="{{{scriptURL}}}" type="text/javascript"></script>