<head>
    <meta charset="utf-8">
    <title>{{> title}}</title>
    <meta name="description" content="{{> description}}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{title}}" href="{{{feedURL}}}">
    {{#avatar}}<link rel="icon" href="{{{avatar}}}" type="image/x-icon">{{/avatar}}
    <link rel="stylesheet" href="{{{cssURL}}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://twitter.com/jackbaty" rel="me">
    <link href="https://github.com/jackbaty" rel="me">
    <link rel="webmention" href="https://webmention.io/www.baty.blog/webmention" />
    <link rel="micropub" href="https://whispering-anchorage-78175.herokuapp.com/micropub">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  
      
          <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.baty.net/tracker.js', 'fathom');
fathom('set', 'siteId', 'QDOKG');
fathom('trackPageview');
</script>
<!-- / Fathom -->

</head>