<head>
    <meta charset="utf-8">
    <title>{{> title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{> description}}">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="{{> title}}">
    <meta name="twitter:description" property="og:description" itemprop="description" content="{{> description}}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{name}}'s blog" href="{{feedURL}}">{{#avatar}}
    <link rel="icon" href="{{{avatar}}}" type="image/x-icon">
    {{/avatar}}<link rel="stylesheet" href="{{{cssURL}}}">
    <link rel="me" href="https://github.com/jackbaty" />
    <link rel="pingback" href="https://webmention.io/www.baty.blog/xmlrpc" />
	<link rel="webmention" href="https://webmention.io/www.baty.blog/webmention" />
    <link rel="micropub" href="https://whispering-anchorage-78175.herokuapp.com/micropub">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.baty.net/tracker.js', 'fathom');
fathom('set', 'siteId', 'QDOKG');
fathom('trackPageview');
</script>
<!-- / Fathom -->

</head>
